@model Account

<form asp-action="AddAccount" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    

    <button type="submit">Add Account</button>
</form>
